.git
.github
data
dist
third_party/*
!third_party/ragflow/
third_party/ragflow/*
!third_party/ragflow/api/
third_party/ragflow/api/*
!third_party/ragflow/api/ragflow_server.py
!third_party/ragflow/api/apps/
third_party/ragflow/api/apps/*
!third_party/ragflow/api/apps/llm_app.py
!third_party/ragflow/api/apps/restful_apis/
third_party/ragflow/api/apps/restful_apis/*
!third_party/ragflow/api/apps/restful_apis/dataset_api.py
!third_party/ragflow/api/apps/restful_apis/document_api.py
!third_party/ragflow/api/apps/services/
third_party/ragflow/api/apps/services/*
!third_party/ragflow/api/apps/services/dataset_api_service.py
!third_party/ragflow/api/apps/services/local_dataset_service.py
!third_party/ragflow/api/apps/services/provider_api_service.py
!third_party/ragflow/api/db/
third_party/ragflow/api/db/*
!third_party/ragflow/api/db/services/
third_party/ragflow/api/db/services/*
!third_party/ragflow/api/db/services/task_service.py
!third_party/ragflow/api/utils/
third_party/ragflow/api/utils/*
!third_party/ragflow/api/utils/validation_utils.py
!third_party/ragflow/deepdoc/
third_party/ragflow/deepdoc/*
!third_party/ragflow/deepdoc/parser/
third_party/ragflow/deepdoc/parser/*
!third_party/ragflow/deepdoc/parser/figure_parser.py
!third_party/ragflow/rag/
third_party/ragflow/rag/*
!third_party/ragflow/rag/app/
third_party/ragflow/rag/app/*
!third_party/ragflow/rag/app/naive.py
!third_party/ragflow/rag/svr/
third_party/ragflow/rag/svr/*
!third_party/ragflow/rag/svr/task_executor.py
!third_party/ragflow/web/
third_party/ragflow/web/*
!third_party/ragflow/web/dist/
!third_party/ragflow/web/dist/**
*.log
*.sqlite
__pycache__
.pytest_cache
